.home-top-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  flex-wrap: wrap;
  gap: 20px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.dropdown-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 32px;
  padding-right: 32px;
}

.dropdown-container label {
  position: relative;
  padding-right: 8px;
  display: flex;
  align-items: center;
}

select:focus {
  border: 1px solid white;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}
