.searchbar-container {
  display: flex;
  width: fit-content;
  height: 50px;
  border-bottom: 1px solid white;
  align-items: center;
}

.searchbar-input {
  background-color: transparent;
  font-size: 1rem;
  border: none;
  padding: 10px;
  width: 300px;
  &::placeholder {
    color: gray;
    user-select: none;
    letter-spacing: normal !important;
  }
  &:focus {
    outline: none;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
