select {
  padding: 0.625rem;
  font-size: 1rem;
  border-radius: 0.3125rem;
  background-color: #ffffff1a;
  border: 0.0625rem solid transparent;
  color: white;
  outline: none;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

select:hover {
  border: 0.0625rem solid gray;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 0.625rem;
  transform: translateY(-50%);
  pointer-events: none;
}

select option {
  background-color: #424242;
  color: white;
}

select option:checked {
  background-color: #424242;
  color: white;
}

select:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
