.nav-bar-parent {
  display: flex;
  flex-direction: row;
  gap: 0.9375rem;
  justify-content: right;
  margin-right: 0.625rem;
}

.nav-bar-item {
  box-sizing: border-box;
  height: 3.75rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  user-select: none;
}

.nav-bar-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.125rem;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-bar-item:hover::before {
  width: 100%;
  transition: width 0.3s ease;
}

.logo {
  margin-top: 1.25rem;
  margin-left: 1.25rem;
}

.parent-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-bar-parent-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 31.25rem) {
  .nav-bar-parent-container {
    flex-direction: column;
    align-items: center;
  }
}
