.parent {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: right;
  margin-right: 10px;
}

.nav-bar-item {
  box-sizing: border-box;
  height: 60px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
  }
  user-select: none;
}
