.card {
  padding: 2rem;
  background-color: #424242;
  border-radius: 1rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  height: 15rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  transition: all 0.25s ease-in-out;
}

.card p {
  position: absolute;
  bottom: 1rem;
  justify-self: flex-end;
  align-self: center;
  margin: 0;
  color: whitesmoke;
}

.card img {
  position: relative;
  max-width: 20rem;
  max-height: 13.3125rem;
}

.card:hover {
  transform: scale(1.05);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

header {
  position: relative;
  top: 0;
  z-index: 999;
  margin-bottom: 0.625rem;
}

main {
  padding: 0;
}
